<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="WeatherAPIUrl" value="http://api.weatherapi.com/v1/forecast.json" />
		<add key="WeatherAPIKey" value="fa8b3df74d4042b9aa7135114252304" />
		<add key="Default_Latitude" value="55.7558" />
		<add key="Default_Longitude" value="37.6173" />
	</appSettings>
  <system.web>
  </system.web>
</configuration>
